
@{
    ViewData["Title"] = "VjestineDodaj";
}
@model VjestinaVM


<style>
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-image: url("/img/Group 141.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        color: #3C473B
    }

    #prvi {
        height: 80%;
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
        padding: 50px;
        padding-bottom: 60px;
    }

    #drugi {
        height: 50%;
        border-radius: 30px;
        width: 100%;
        box-shadow: 2px 5px 18px #888888;
        padding: 50px;
        overflow: auto;
    }

        #drugi button, h1 {
            text-align: center;
            color: white;
            margin-top: 20px;
        }

    #treci {
        position: relative;
        height: 40px;
        text-align: center;
        margin-top: 20px;
    }


    #menu {
        width: 76px;
        height: 93%;
        margin-top: 100px;
        float: left;
    }

        #menu div:first-child {
            border-left: 5px solid white;
        }

        #menu img {
            margin-top: 25px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        #menu div {
            cursor: pointer;
        }

            #menu div:last-child {
                position: relative;
                top: 48%;
            }

    h3 {
        text-align: center;
        color: lightgray;
        margin-top: 10px;
    }
</style>

<h3>Add skill</h3>
<div id="menu">
    <div id="firstItem">
        <img src="~/img/Dashboard.png" alt="Alternate Text" onclick="location.href='@Url.Action("Index", "Administrator")'" />
    </div>
    <div id="firstItem">
        <img src="~/img/task-list.png" alt="Alternate Text" id="blurAction" />
    </div>
    <div>
        <img src="~/img/user.png" alt="Alternate Text" onclick="location.href='@Url.Action("Profil", "Administrator")'" />
    </div>
    <div>
        <img src="~/img/on-off-button.png" alt="Alternate Text" onclick="location.href='@Url.Action("Logout", "Administrator")'" />
    </div>
</div>
<div id="prvi">

    <div id="drugi">
        <form asp-action="VjestinaSnimi">
            <input type="hidden" asp-for="Id" />
            <span>Name:</span>
            <input style="width:100%" class="form-control" asp-for="@Model.Naziv" />
            <button style="width:150px" type="submit" class="btn btn-warning">Dodaj</button>
        </form>
    </div>
</div>