
@{
    ViewData["Title"] = "Profil";
}

<style>
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-image: url("/img/Group 141.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        color: #3C473B
    }

    #profil {
        width: 55px;
        height: 55px;
        float: right;
        border-radius: 50%;
        position: relative;
        top: 10px;
        right: 20px;
    }

    #user {
        color: white;
        float: right;
        font-size: 20px;
        position: relative;
        top: 20px;
        right: 50px;
    }


    #menu {
        width: 76px;
        height: 93%;
        margin-top: 100px;
        float: left;
    }

        #menu div:nth-child(3) {
            border-left: 5px solid white;
        }

        #menu img {
            margin-top: 25px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

    #central {
        width: calc(100% - 76px);
        height: 95%;
        float: left;
        margin-top: 21px;
    }

    #left {
        width: 60%;
        height: 100%;
        float: left;
        padding: 90px;
    }

    #right {
        height: 100%;
        width: 40%;
        float: left;
        padding: 50px;
        padding-bottom: 60px;
    }

    #menu div {
        cursor: pointer;
    }

        #menu div:last-child {
            position: relative;
            top: 48%;
        }

    #profileData {
        width: 100%;
        height: 100%;
        padding: 50px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #888888;
    }

    #left img {
        position: absolute;
        top: 90px;
        left: 80px;
        width: 250px;
        height: 250px;
    }

    #title {
        color: #F0AF1B;
        font-size: 30px;
        margin-bottom: 0;
        border: none;
        padding: 0;
        position: relative;
        left: 200px;
        bottom: 20px;
    }

    p #nekiSpan {
        background-color: #F0AF1B;
        float: left;
    }


    #dataPart, #dataPart1 {
        position: relative;
        left: 200px;
    }

    .orangeInfo {
        color: white;
        background-color: #F0AF1B;
        padding: 15px;
        border-radius: 20px;
        margin-left: 20px;
        display: block;
        width: 200px;
        text-align: center;
        box-shadow: 1px 1px 7px #888888;
    }


    #dataPart1 p:nth-child(1) {
        margin-top: 10px;
    }

    #dataPart1 p:nth-child(2) {
        margin-top: 50px;
    }

    #dataPart1 p:nth-child(3) {
        margin-top: 40px;
    }

    #dataPart1 p:nth-child(4) {
        margin-top: 50px;
    }

    #dataPart1 p:nth-child(5) {
        margin-top: 50px;
    }

    #dataPart1 {
        float: left;
    }

    #dataPart {
        float: left;
    }

    #buttons {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: white;
    }

    .btns {
        width: 100%;
        height: 22%;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #888888;
        margin-top: 30px;
    }

        .btns p:first-child {
            color: #F0AF1B;
            font-size: 30px;
            margin-bottom: 0;
            border: none;
            padding: 0;
            position: relative;
            top: 10px;
            left: 20px;
        }

        .btns p:last-child {
            margin-bottom: 0;
            border: none;
            padding: 0;
            position: relative;
            top: 10px;
            left: 20px;
        }
</style>

<div>
    <img id="profil" src="~/img/Group 205.png" />
    <span id="user">Administrator</span>
</div>

<div id="menu">
    <div>
        <img src="~/img/Dashboard.png" alt="Alternate Text"   onclick="location.href='@Url.Action("Index", "Administrator")'"/>
    </div>
    <div>
        <img src="~/img/task-list.png" alt="Alternate Text" />
    </div>
    <div>
        <img src="~/img/user.png" alt="Alternate Text" onclick="location.href='@Url.Action("Profil", "Administrator")'"/>
    </div>
    <div>
        <img src="~/img/on-off-button.png" alt="Alternate Text"  onclick="location.href='@Url.Action("Logout", "Administrator")'"/>
    </div>
</div>

<div id="central">
    <div id="left">
        <div id="profileData">
            <img src="/img/admin-with-cogwheels.png" alt="Alternate Text" />
            <p id="title">My profile</p>
            <div id="dataPart1">
                <p><span class="infoOrange">Name and Surename:</span></p>
                <p><span class="infoOrange">Job description:</span></p>
            </div>
            <div id="dataPart">
                <p><span class="orangeInfo">Administrator</span></p>
                <p><span class="orangeInfo">Administrator</span></p>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="buttons">
            <div class="btns" id="accSettings">
                <p>Account settings</p>
                <p>Details about your Personal information</p>
            </div>
            <div class="btns" id="personalInfo">
                <p>Personal information</p>
                <p>Personality, Bio, Daily Usage, Golas</p>
            </div>
        </div>
    </div>
</div>




